.item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }
  .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#d0d0d0;
    letter-spacing:2px;
    font-size:13px;
  }
  .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:inherit;
  }
  .item .box {
    text-align:center;
    padding:30px;
    background-color:#fff;
    margin-bottom:30px;
    border-radius: 5%;
  }
  .item {
    text-align:center;
    width: 100%;
    padding: 5%;

    
  }
  .item img {
    max-width:160px;
  }
  .social {
    font-size:18px;
    color:#a2a8ae;
  }
  .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  .social a:hover {
    opacity:1;
  }
  .team-boxed {
  color:#2275c8;
  background-color:rgb(193, 223, 246);
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 2%;
  padding-top: 2%;

}
h2{
    text-align: center;
    margin-top: 20%;
    margin-bottom:20% ;
    color: #2275c8;
    /* padding-bottom: 5%; */
}
.testi{
  margin-bottom: -8%;
}
