

<div id="header">
  <div class="logo">
    <a href="#">Portfolio</a>
  </div>  
  <nav>
    <form class="search" action="search.php"> 
      <input name="q" placeholder="Search..." type="search">
    </form>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      
      <li class="dropdown">
        <a class="nav-link" routerLink="/contact"style="cursor:pointer" >Contact</a>
               
      </li>
      <li>
        <a href="#services">Services</a>
      </li>
      <li>
        <a class="nav-link"  routerLink="/samples" style="cursor:pointer">Samples</a>
      </li>
      <li>
        <a class="nav-link"  routerLink="/about" routerLinkActive="active">About</a>
          
      </li>
      <li>
        <a href="#testi">Testimonial</a>
      </li>
    </ul>
  </nav>
</div>
